.about-div { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: white;
  /* background-color: rgb(49, 49, 49); */
}

.about-background {
  z-index: -20;
  width: 100%;
  height: 90vh;
  position: absolute;
  background-size: cover;
  filter: brightness(0.8);
}

.about-title-container {
  margin-top: 25px;
  /* margin-bottom: 25px; */
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  text-align:center;
  min-width: 480px;
  width: 45%;
  min-height: 70px;
  height: 10%;
  font-size: 30px;
  color: white;
  border-style: solid;
  padding: 0px;
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 10px rgba(37, 37, 37, 0.8);
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Metal Mania;
}

.dev-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.dev-container {
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 1;
  text-align:center;
  width: 100%;
  min-width: 400px;
  height: 35%;
  min-height: 260px;
  font-size: 30px;
  color: white;
  border-style: solid;
  padding: 0px;
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 10px rgba(37, 37, 37, 0.8);
  display: flex;
  flex-direction: row;
}

.dev-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: rgba(0, 0, 0, .7);
  border-radius: 0px 5px 5px 0px;
  border-color: transparent;
  font-family: Metal Mania;
}

.dev-description::-webkit-scrollbar { 
  width: 0 !important 
}

.dev-image {
  height: 100%;
  width: 30%;
  border-radius: 5px 0px 0px 5px;
  min-width: 200px;
  min-height: 206px;
  /* box-shadow: 0px 0px 0px 10px rgba(37, 37, 37, 0.8); */
  z-index: 1;
  border-right: 10px solid rgba(37, 37, 37, 0.8);
}

.left-dev {
  padding-right: 1.5%;
  height: 100%;
  width: 45%;
  min-width: 400px;
}

.right-dev {
  padding-left: 1.5%;
  height: 100%;
  width: 45%;
  min-width: 400px;
}

[1, Darryl, red, tall]

{
  karen: {
    lastname: chien,
    parents: {
      mother: linda,
      father: xyz
    }
    favorite color: {
      actual: lavender,
      fake: black
    }
  }
  
  darryl: {
    hungry: true;
  }
}