.learn-div { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: white;
  /* background-color: rgb(49, 49, 49); */
}

.learn-div::-webkit-scrollbar { 
  width: 0 !important 
}

.learn-background {
  z-index: -20;
  width: 100%;
  height: 90vh;
  position: absolute;
  background-size: cover;
  filter: brightness(0.8);
}

.learn-title-container {
  margin-top: 25px;
  margin-bottom: 2%;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  text-align:center;
  min-width: 480px;
  width: 45%;
  min-height: 70px;
  height: 10%;
  font-size: 30px;
  color: white;
  border-style: solid;
  padding: 0px;
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 10px rgba(37, 37, 37, 0.8);
}

.learn-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Metal Mania;
}

.learn-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.learn-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
  text-align:center;
  width: 90%;
  height: 100%;
  font-size: 30px;
  color: white;
  border-style: solid;
  padding: 0px;
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 10px rgba(37, 37, 37, 0.8);
  display: flex;
  flex-direction: row;
}

.learn-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: 20%;
  overflow: auto;
  padding: 5px;
  font-family: Metal Mania;
}

.learn-image-1 {
  height: 100%;
  width: 80%;
  border-radius: 5px;
  padding-left: 10px;
}
