#learn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#learn-page-background {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
}

#learn-page-background > img{
 background-color: rgba(0, 0, 0, .9);
  filter: brightness(0.8);
  /* z-index: -1; */
  box-sizing: border-box;
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  background-size: cover;
  position: relative;
}