

#main-menu-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu-link {
  width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  margin-top: 7px;
  background-color: #111;
  border-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  /* font-family: 'Montserrat'; */
  font-family: Metal Mania;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 3px solid rgb(85, 1, 1);
}

.main-menu-link:hover {
    background-color: crimson;
}