@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');


.navbar-title {
  cursor: default;
	font-family: 'Nosifer', cursive;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  width: 50%;
}
.navbar-title > a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(85, 1, 1);
}

.navbar-h1 {
  width: 100%;
  box-sizing: border-box;
  justify-content: left;
}

#navbar-h1 {
	background-image: url(https://media.giphy.com/media/5JKfAnR6v52G4/giphy.gif);
  background-size: 40%;
  background-position: 10px -37px;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
  box-sizing: border-box;
	font-size: 48px;
  line-height: 1;
  letter-spacing: 2px;
  /* margin: 10px 0; */
  font-weight: 1000;
  padding-top: 8px;
}

.navbar-loggedin {
  font-size: 20px;
  color: white;
}
/* styling my button */


