


.navbar-title {
  cursor: default;
	font-family: 'proxima-nova', sans-serif;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: left;
  letter-spacing: 1px;
  box-sizing: border-box;
  width: 50%;
}
.navbar-title > h1 {
  width: 100%;
  box-sizing: border-box;
  justify-content: left;
}

#navbar-h1 {
	background-image: url(https://media.giphy.com/media/5JKfAnR6v52G4/giphy.gif);
  background-size: 40%;
  background-position: 10px -37px;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
  box-sizing: border-box;
	font-size: 42px;
	line-height: .75;
  margin: 10px 0;
  font-weight: bolder;
}
/* styling my button */
