#gameplay-div {
    width: 100%;
    /* height: 100vh; */
    /* min-height: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    overflow: scroll;
}

#gameplay-div::-webkit-scrollbar { 
  width: 0 !important 
}

#play-background {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url('../images/stage.jpg');
    /* background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    min-width: 1600px;
    min-height: 430px;
}

#play-background > div {
    display: flex;
    position: relative;
    /* top: 80px; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.game-character-img {
    position: absolute;
    scale: 1;
    max-height: 300px;
    min-height: 250px;
}

.game-left {
    left: 37.5%;

}

.game-right {
    right: 37.5%;
    
}

#effect-img-left {
    position: absolute;
    scale: 3;
    height: 300px;
    width: 300px;
    left: 32.5%;
    z-index: 100;
    /* background-color: orange; */
}

#effect-img-right {
    position: absolute;
    scale: 3;
    height: 300px;
    width: 300px;
    right: 32.5%;
    z-index: 100;
    /* background-color: black; */
}

.moving {
    z-index: 10;
}

#game-moves {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
    z-index: 0;
    font-family: Metal Mania;
    font-size: 24px;
    /* margin-bottom: 250px; */
}

#game-moves > h3 {
    margin-bottom: 5px;
}

#character-moves-list {
    display: flex;
    flex-direction: row;
}

#character-moves-list > li > button {
    width: 200px;
    height: 100px;
    background-color: crimson;
    border: 5px solid maroon;
    border-style: outset;
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    color: white;
}

#character-moves-list > li > button:active {
    background-color: maroon;
}

.warning-health {
    color: yellow;
}

.safe-health {
    color: green;
}

.danger-health {
    color: red;
}

.healthbar {
    display: flex;
    letter-spacing: 0px;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* position: relative; */
    text-align: center;
    border: 1px solid black;
    background-color: black;
    cursor: default;
    width: 100px;
    /* background-color: yellow; */
}

.healthbar::selection {
    background: transparent;
}

#p1-hp {
    height: 100%;
    padding-top: 10px;
    position: relative;
    left: 35%;    
}

#p2-hp {
    height: 100%;
    padding-top: 10px;
    position: relative;
    right: 35%;
}

#p1-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
    width: 100%;
    height: 100%;
}

#p2-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

#p2-side > img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* 
#game-logs-div {
    position: absolute;
    width: 800px;
    height: 100px;
    background-color: white;
    bottom: 5px;
} */

#game-logs-div {
    background-color: white;
    width: 50%;
    height: 100px;
    margin: 10px 0px;
    box-sizing: border-box;
}

#game-logs {
    width: 100%;
    height: 100%;
    color: white;
    font: 'Tahoma';
    overflow: hidden;
    background: rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px black;
    box-sizing: border-box;
    padding: 5px;
    cursor: default;
}

#game-logs > li::selection {
    background: transparent;
}

#game-logs > li::-moz-selection {
    background: transparent;
}

#gameplay-header {
    color: white;
    padding: 20px;
    font-weight: bold;
    font-family: Metal Mania;
    /* font-size: 26px;
    padding-left: 10px; */
}

#gameplay-header > span {
    font-size: 26px;
    padding-left: 10px;
}

.loading-page {
    background: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading-page.type2 {
    background: url(../images/loading.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.moves-container {
    height: 40%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.moves-container::-webkit-scrollbar { 
  width: 0 !important 
}


.back-game {
    height: 100%;
    width: 50%;
    background-color: teal;
}

.switch-button {
    height: 35px;
    width: 200px;
    background-color: crimson;
    border: 5px solid maroon;
    border-style: outset;
    box-sizing: border-box;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Helvetica, sans-serif;
    color: white;
    margin-top: 10px;
}

.waiting-icon {
    color: white;
    font-size: 40px;

}

.winner-container {
    background-color: #111;;
    color: white;
    width: 340px;
    height: 300px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 15px;
}

.winner-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.winner-title {
    font-size: 48px;
    text-align: center;
    font-family: Metal Mania;
}

.winner-link {
    width: 200px;
    height: 40px;
    background: #111;
    border: 3px solid rgb(85, 1, 1);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    /* font-family: Montserrat; */
    font-family: Metal Mania;
    letter-spacing: 1px;
}

.winner-link:hover {
    background-color: crimson;
}