.session-form-div {
  background-color: #111;
  /* background-image: url(https://wallpaperaccess.com/full/235857.jpg); */
  background-position: top;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  border-radius: 10px;
}

.session-form-div > form {
  /* border: 1px solid black; */

  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  /* background-color: #111; */
  border-radius: 30px;
}

.session-form-bot > input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #222;
  height: 60px;
  font-family: Metal Mania;
  background-color: #222;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  
}
.session-form-top > input {
  box-sizing: border-box;
  border: 1px solid #333;
  height: 60px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.session-form-top > h3 {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 25px;
  font-family: Metal Mania;
}

.session-form-top {
  height: 80%;
  width: 320px;
}

.session-form-bot {
  height: 20%;
  width: 320px;
  padding-bottom: 40px;
  font-family: Metal Mania;
}

.demo {
  height: 60px;
  width: 320px;
  margin-bottom: 5px;

}

.demobutton { 
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #222;
  font-family: Metal Mania;
  background-color: #222;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.demobutton:hover, .session-form-bot > input:hover {
  background-color: crimson;
  cursor: pointer;
}

.login-errors {
  font-family: 'proxima-nova', sans-serif;
  color: #bb0000;
}

.demobutton, .session-form-bot > input:focus {
  outline:0;
}