#splash-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#splash-img-div > img {
  background-color: rgba(0, 0, 0, .9);
  filter: brightness(0.8);
  box-sizing: border-box;
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  background-size: cover;
}

#splash-img-div {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
}

#splash-div > footer {
  background-color: #000;
  width: 100%;
  height: 20%;
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
}