@import url('https://fonts.googleapis.com/css?family=Montserrat');




#navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  background-color: black;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 2px;
  box-sizing: border-box;

}

#page-main-div {
  margin-top: 15vh;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

#navbar-div-inner {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-right: 50px;
} 


#navbar-div-inner > button {
  width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  background-color: #111;
  border-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
}

#navbar-div-inner > button:hover {
  background-color: crimson;
  cursor: pointer;
}

.navbar-loggedin {
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
}

.nav-bar-greeting {
  padding-right: 25px;
  font-family: 'Montserrat';
  font-size: 28px;
  align-self: center;
}

.navbar-div-logout {
  padding-left: 50px;
}

.logout-button {
  width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  background-color: #111;
  border-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: crimson;
  cursor: pointer;
}



/* --------------------------------Monster Icons_____________________________________________________________ */

