@import url('https://fonts.googleapis.com/css?family=Montserrat');




#navbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  /* z-index: 5; */
  align-items: center;
  top: 0;
  left: 0;
  height: 110px;
  width: 100vw;
  background-color: black;
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 1px 2px;
  box-sizing: border-box;
  padding-bottom: 10px;
  border: 2px solid;
  border-bottom-color: rgb(85, 1, 1);
  box-shadow: 5px 5px 10px black;
}

#page-main-div {
  margin-top: 110px;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  display: flex;
  background-size: cover;
}

#navbar-div-inner {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  /* margin-bottom: 10px; */
  padding-right: 50px;
} 


#navbar-div-inner > button {
  width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  background-color: #111;
  /* border-color: #111; */
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  /* font-family: 'Montserrat'; */
  font-family: Metal Mania;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 3px solid rgb(85, 1, 1);
}

#navbar-div-inner > button:hover {
  background-color: crimson;
  cursor: pointer;
}

#navbar-div-inner > button:focus {
  outline:0;
}

.navbar-loggedin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50px;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
}

.nav-bar-greeting {
  padding-right: 20px;
  /* font-family: 'Montserrat'; */
  font-family: Metal Mania;
  font-size: 28px;
  align-self: center;
}

.navbar-div-logout {
  padding-left: 50px;
}

.logout-button {
  width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  background-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  /* font-family: 'Montserrat'; */
  font-family: Metal Mania;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 3px solid rgb(85, 1, 1);
  /* border-color: #111; */
}

.logout-button:hover, .learn-to-link:hover, .about-link:hover {
  background-color: crimson;
  cursor: pointer;
}

.learn-to-link, .about-link {
  text-align: center;
  min-width: 125px;
  height: 40px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  background-color: #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  /* font-family: 'Montserrat'; */
  font-family: Metal Mania;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  /* border-color: #111; */
  border: 3px solid rgb(85, 1, 1);
}

button:focus {
  outline: 0;
}



/* --------------------------------Monster Icons_____________________________________________________________ */

