@import url('https://fonts.googleapis.com/css?family=Montserrat');


#navbar-div {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100vw;
  background-color: black;
  border-bottom: 1px solid black;
  box-shadow: 0px 1px 2px;
  box-sizing: border-box;

}

#page-main-div {
  margin-top: 10vh;
  box-sizing: border-box;

  display: flex;
}

#navbar-div-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  margin-left: 30%;
}

#navbar-div-inner > a {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #333;
  border: 1px solid #454545;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5px;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat';
  font-size: 12px;
  letter-spacing: 1px;
}

#navbar-div-inner > a:hover {
  background-color: white;
  border: 1px solid #c3c3c3;
  color: #333;
}